:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,.06);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    transition: all .3s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.btn{
margin-top: 1rem;
display: inline-block;
padding: .8rem 3rem;
font-size: 1.7rem;
border-radius: .5rem;
border: .2rem solid var(--black);
color: var(--black);
cursor: pointer;

}
.btn:hover{
    background: var(--orange);
    border-color: var(--orange);
    color: #fff;
    transition: 0.2s ease-in;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: white;
    box-shadow: var(--box-shadow); 
    z-index: 1000;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo i{
    color: var(--orange);
    padding: 0 3px;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--orange);
}
.header .icons div{
    color: var(--black);
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: rgb(243, 243, 243);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .icons div:hover{
    color: #fff;
    background: var(--orange);
}
.header .search-form{
 position: absolute;
 top: 130%;
 right: -110%;
 width: 50rem;
 height: 5rem;
 background: rgb(245, 245, 245);
 border-radius: .5rem;
 overflow: hidden;
 display: flex;
 align-items: center;
 border-radius: 8px;

 
}
.header .search-form.active{
    right: 1.5rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.fa-search{
    color: var(--black);
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--orange);
}

/* shopping cart */
.header .shopping-cart{
    position:absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}
.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.header .shopping-cart .box img{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 36%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);

}
.header .shopping-cart .box .fa-trash:hover{
    color: var(--orange);
}
.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: 500;
}
.header .shopping-cart .box .content .price{
    padding-right: 1rem;
}
.header .shopping-cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
    font-weight: 500;
}
.header .shopping-cart .btn{
    margin: 1rem;
   display: block;
   text-align: center;

}
.header .shopping-cart.active{
    right: 2rem;
    transform: .4s ease-in-out;
}